@font-face {
    font-family: 'Righteous';
    src: url(../font/font-Righteous.woff2) format('woff2'),
    url(../font/font-Righteous.ttf) format('TureType');
}
.pre-load{
    font-family: 'Righteous', cursive;
}
.font-mxd{
    font-family: 'Righteous', cursive;
}